@model Loregroup.Core.ViewModels.AgentViewModel

<script type="text/javascript">
    function Cancel() {
        document.location = '@Url.Action("GetAllAgent", "Product")';
    }


</script>
@if (TempData["msg_Vide"] != null)
{
    <script>
        alert('@Html.Raw(TempData["msg_Vide"])')
    </script>
}
@if (TempData["Error1"] != null)
{
    <div class="red">
        <h4 style="color:red"><strong>Message: </strong>@TempData["Error1"]</h4>
    </div>
}

@using (Html.BeginForm("AddNewAgents", "Product", FormMethod.Post))
{
    <div class="box box-info col-md-12">
        <div class="box-body">

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.territory)
                        @Html.BsTextBoxWithPHFor(model => model.territory)
                        @Html.ValidationMessageFor(model => model.territory)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.BsTextAreaFor(m => m.Description)
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Agents")
                        @Html.BootstrapDropDownListFor(m => m.CustomerId, new SelectList(Model.CustomerList, "Id", "UserName", Model.CategoryId))
                        @Html.ValidationMessageFor(model => model.CustomerId)
                    </div>
                </div>

            </div>

            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="reset" class="btn btn-default pull-right" onclick=" Cancel();" style="margin-right: 10px">Cancel</button>
                        <button type="submit" id="btn_submit" class="btn btn-primary pull-right" style="margin-right: 10px">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.Id)
}
