@model Loregroup.Core.ViewModels.StateViewModel
@{
    ViewBag.Title = "Zone";
}
<script type="text/javascript">

    function Cancel() {
        document.location = '@Url.Action("ShowAllState", "Master")';
    }
</script>




@if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <h4>Validation Errors</h4>
        @Html.ValidationSummary()
    </div>
}


@using (Html.BeginForm("State", "Master", FormMethod.Post))
{


    <div class="box box-info col-md-12">

        @if (TempData["Error1"] != null)
        {
            <div class="red">
                <h4 style="color:red"><strong>Message: </strong>@TempData["Error1"]</h4>
            </div>
        }
       
        <div class="box-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CountryId)
                        @Html.BootstrapDropDownListFor(m => m.CountryId, new SelectList(Model.CountryList, "Id", "CountryName", Model.CountryId))
                        @Html.ValidationMessageFor(model => model.CountryId)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Statename)
                        @Html.BsTextBoxWithPHFor(model => model.Statename)
                        @Html.ValidationMessageFor(model => model.Statename)
                    </div>
                </div>
            </div>
            
        </div>
    </div>


    <div class="box-footer">
        <div class="row">
            <div class="col-md-12">
                <button type="reset" class="btn btn-default pull-right" onclick=" Cancel();" style="margin-right: 10px">Cancel</button>
                <button type="submit" class="btn btn-primary pull-right" id ="btn_save" style="margin-right: 10px">Save</button>
            </div>
        </div>
    </div>


}

<script>

    $('#btn_save').click(function () {
        var city = $('#Statename').val();
        if (!/^[a-zA-Z]*$/g.test(city)) {
            $('#Statename').focus();
            alert("Please Enter a valid State Name");
            return false;
        }
        else {
            return true;
        }

    });

</script>


