@model Loregroup.Core.ViewModels.PurchaseOrderViewModel

@{
    ViewBag.Title = "ManageInventory";
}

<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css" />

<style>
    /*#myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg:hover {opacity: 0.7;}*/

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        margin-top: 50px;
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 800px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0);
        }

        to {
            -webkit-transform: scale(1);
        }
    }

    @@keyframes zoom {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }

    /* The Close Button */
    .closebutton {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .closebutton:hover,
        .closebutton:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>

@using (Html.BeginForm("ShortfallInventoryReport", "Order", FormMethod.Post))
{
    <div class="box box-info col-md-12">
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.WareHouseId)
                        @Html.BootstrapDropDownListFor(m => m.WareHouseId, new SelectList(Model.WareHouseList, "Id", "WareHouseName", Model.WareHouseId))
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Category")
                        @Html.BootstrapDropDownListFor(m => m.CategoryId, new SelectList(Model.CategoryList, "Id", "Category", Model.CategoryId))
                    </div>
                </div>
                <div class="col-md-3">
                    <label style="visibility:hidden" id="kapil">@Model.ColourId</label>
                    <button id="Search" type="submit" class="btn btn-primary pull-right" style="margin-top: 22px;" onclick="return SearchClick()">Search</button>
                </div>
            </div>
            @*<div class="col-md-12">
                    <label style="visibility:hidden" id="kapil">@Model.ColourId</label>
                    <button id="Search" type="submit" class="btn btn-primary pull-right" onclick="SearchClick()">Search</button>
                </div>*@
        </div>
    </div>

    <div class="box box-info col-md-12">
        <div class="col-md-9">
            @if (Model.IsDataAvailable == true)
            {
                <table id="DataTable" class="table">
                    <thead>
                        <tr>
                            <th> Style Number </th>
                            <th> Color </th>
                            @*<th> Size (USA/UK/EU)</th>*@
                            <th>
                                <label> US </label>
                                <label> UK </label>
                                <label> EU </label>
                            </th>

                            @for (int i = 2; i <= 34; i = i + 2)
                            {
                                <th style="width:5px;">
                                    @if (i == 2)
                                    {
                                        <label style="width:30px;"> 00 </label>
                                    }
                                    else if (i == 4)
                                    {
                                        <label style="width:30px;"> 0 </label>
                                    }
                                    else
                                    {
                                        <label style="width:30px;"> @(i - 4) </label>
                                    }
                                    <label style="width:30px;"> @i </label>
                                    <label style="width:30px;"> @(i + 28) </label>
                                </th>
                            }
                            <th> Total </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var stock in Model.ProductListModel.StockSizeModel)
                        {
                            var total = 0;

                            <tr id="@stock[0].SizeUK">
                                <td>@stock[0].StyleNumber</td>
                                <td>@stock[0].ColourName</td>
                                <td>  </td>
                                @foreach (var size in stock)
                                {
                                    <td>
                                        @if ((size.InStockQty - size.Qty + size.POQty) < 0)
                                        {
                                            <b style="font-size: 16px;color: black;">@(size.InStockQty - size.Qty + size.POQty)</b>
                                            var avai = size.InStockQty - size.Qty + size.POQty;
                                            total += (int)avai;
                                        }
                                        else
                                        {
                                            <label>-</label>
                                        }
                                    </td>
                                }
                                <td>
                                    @if (total < 0)
                                    {
                                        <b style="font-size: 16px;color: black;">@total</b> }
                                    else
                                    { @total }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>No Record Found</h3>
            }
        </div>

    </div>

    @Html.HiddenFor(x => x.Id);
    @Html.HiddenFor(x => x.ProductModel.Id);
    @Html.HiddenFor(x => x.ProductModel.Picture1);
    @Html.HiddenFor(x => x.ImgUrl1);
    @Html.HiddenFor(x => x.ProductModel.Picture2);
    @Html.HiddenFor(x => x.ImgUrl2);
    @Html.HiddenFor(x => x.ProductModel.Picture3);
    @Html.HiddenFor(x => x.ImgUrl3);
}

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="closebutton">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<script>
    function SearchClick() {
        if ($("#WareHouseId option:selected").val() == 0) {
            alert("Select Warehouse.")
            return false;
        }
        else {
            return true;
        }
    }
</script>
